HF_HOME=/root/workspace/_models
TRANSFORMERS_CACHE=/root/workspace/_models
STELL_AI_VECTOR_STORE=/root/workspace/_vector_store
STELL_AI_LOG_DIR=/root/workspace/AI/logs
STELL_AI_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
